@media (max-width: 800px) {
    .toll{
        left: 0%;
        right: 0%;
    } 
}

@media (min-width: 801px) {
    .toll{   
        left: 15%;
        right: 15%;
    }
}

.toll{
    text-align: center;
    position: absolute;
}

#label {
    text-align: end;
}